@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #00003f;
  font-weight: 400;
  font-size: 15px;
}

header {
  border-bottom: 5px solid #00003f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

header img {
  width: 300px;
}

header a {
  margin: 0px 10px;
  color: #00003f;
  text-decoration: none;
  font-size: 18px;
}

header a:hover {
  color: goldenrod;
  font-weight: 700;
}

.section-header {
  background-color: #f4f4f4;
  padding: 0px 0px 0px 50px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

.section-header button {
  background-color: #00003f;
  border-radius: 50px;
  padding: 10px 30px;
}

button a {
  color: #ffffff;
  text-decoration: none;
}

.section-header-img {
  width: 30%;
  margin-left: 50px;
}
