@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #00003f;
  font-weight: 400;
  font-size: 15px;
}

header {
  border-bottom: 5px solid #00003f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

header img {
  width: 300px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav a {
  color: #00003f;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  border-bottom: 3px solid goldenrod;
}

.section-header {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  height: 70vh;
}

.section-header-text {
  padding-left: 50px;
  flex-grow: 1;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}
.button-wrapper {
  margin-top: 50px;
}
.button {
  background-color: #00003f;
  border-radius: 50px;
  padding: 10px 30px;
  color: #ffffff;
  text-decoration: none;
  border: none;
}
.button:hover {
  background-color: goldenrod;
}
.header-img-wrapper {
  width: 30%;
  height: 100%;
  flex-shrink: 0;
  margin-left: 50px;
}
.section-header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-benefits {
  background-color: #00003f;
  color: #ffffff;
  border-radius: 50px 50px 0px 0px;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
}

.benefit-img-wrapper {
  width: 10%;
}

.one-benefit {
  background-color: #2c2c79;
  padding: 10px;
  display: flex;
}

.benefit-headline {
  font-weight: 600;
  font-size: 12px;
}
