$color-hot-pink: #ff69b4;
$color-hot-pink-50: #ffd0e5;
$color-beige: #f2ece5;
$color-black: #282726;
$color-white: #ffffff;

$spacing-10: 10px;
$spacing-20: 20px;
$spacing-40: 40px;
$spacing-80: 80px;
