@use "variables" as var;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  color: var.$color-black;
}

.desktop-only {
  display: none;
}

section {
  margin: 0px 10px;
}

h1 {
  font-weight: 800;
  font-size: 2.5em;
  margin: 0;
  background: linear-gradient(180deg, transparent 60%, var.$color-hot-pink 60%);
  display: inline;
}

h2 {
  font-weight: 600;
  font-size: 2em;
  margin: 0px;
}

h3 {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0px;
}

hr {
  border: none;
  border-bottom: 6px dashed var.$color-hot-pink;
  margin: 0px;
}
