@use "variables" as var;

nav {
  background-color: var.$color-beige;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var.$spacing-20 var.$spacing-10;
}

.nav-download-icon-mobile {
  fill: var.$color-hot-pink;
  height: 30px;
}

.nav-download-desktop {
  display: none;
}
