@use "variables" as var;

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

.desktop-only {
  display: flex;
}

.logo {
  height: 60px;
}

section {
  width: 1000px;
  margin: 0px auto;
}

.nav-wrapper {
  padding: var.$spacing-10;
  width: 1200px;
  margin: 0px auto;
}

.nav-download-icon-mobile {
  display: none;
}

.nav-download-desktop {
  display: flex;
  align-items: center;
  gap: var.$spacing-10;
  color: var.$color-hot-pink;
  font-weight: 600;
  background-color: var.$color-hot-pink-50;
  padding: var.$spacing-10;
  border: none;
  animation: heartbeat 3s infinite;

  &:hover {
    background-color: var.$color-hot-pink;
    color: var.$color-white;
    svg {
      fill: var.$color-white;
    }
  }

  .nav-download-icon-desktop {
    fill: var.$color-hot-pink;
    height: 15px;
  }
}
header {
  margin-bottom: 100px;
  .header-desktop-wrapper {
    width: 1200px;
    margin: 0px auto;
    padding: var.$spacing-80 0px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: var.$spacing-40;

    .header-img-wrapper {
      border-radius: 50px 50px 50px 0px;
      margin: 0px;
      height: 500px;
    }

    section p {
      text-align: right;
      margin: var.$spacing-80 0px;
    }
  }
}

.factbox {
  display: flex;
  flex-direction: row;
}

.how-to {
  padding: var.$spacing-80 0px;
  p {
    text-align: center;
  }
  .how-to-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 300px);
    row-gap: var.$spacing-80;
  }
  .how-to-infobox p {
    text-align: left;
  }
}
.how-to-img-frame-animation-01 {
  animation: moveframe01 3s infinite alternate;
}
.how-to-img-frame-animation-02 {
  animation: moveframe02 3s infinite alternate;
}
.how-to-img-frame-animation-03 {
  animation: moveframe03 3s infinite alternate;
}

.how-to-imagewrapper-bg02 {
  grid-column: 2 / 3;
  grid-row: 2;
}
#how-to-infobox-middle {
  grid-column: 1 / 2;
  grid-row: 2;
}

.how-to-infobox {
  background-color: var.$color-beige;
  border-radius: 0px 20px 20px 20px;
  padding: var.$spacing-40;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-download-section-wrapper {
  padding: var.$spacing-40 0px;
  margin: 100px 0px 150px 0px;
}

.app-download {
  .app-download-text {
    width: 70%;
  }
  .app-download-badge {
    flex-direction: row;
    gap: var.$spacing-20;
    img {
      height: 50px;
      width: auto;
    }
  }
  .app-download-picture {
    position: absolute;
    margin-top: -150px;
    right: 0;
    img {
      width: 500px;
    }
  }
}

.kitchen-categories {
  h2 {
    text-align: left;
  }
}

.footer-wrapper {
  width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-about-us {
  width: 30%;
}
