@use "variables" as var;

header {
  margin-top: var.$spacing-80;
  background-color: var.$color-beige;
  padding-bottom: var.$spacing-40;
}

.header-img-wrapper {
  width: 100%;
  height: 350px;
  background-image: url(/Users/reginaherke/Documents/GitHub/dc-web-developer/112_hot-pink/_img/ambitious-creative-co-rick-barrett-dN0yJejNxHg-unsplash.jpg);
  background-size: cover;
  background-position: bottom center;
  margin-bottom: var.$spacing-20;
}

.searchbar-wrapper {
  background-color: var.$color-hot-pink;
  margin-top: var.$spacing-40;
  padding: var.$spacing-10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    fill: var.$color-beige;
    height: 30px;
  }

  input {
    background: none;
    border: none;
    padding: var.$spacing-10 0px;

    &::placeholder {
      color: white;
    }
  }
}

.factbox {
  display: flex;
  padding: var.$spacing-80 0px;
  gap: var.$spacing-40;
  justify-content: center;

  .factbox-fact {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var.$spacing-20;

    svg {
      fill: var.$color-hot-pink;
      height: 40px;
    }
  }
}

.how-to {
  padding: var.$spacing-80 0px;

  article {
    display: flex;
    flex-direction: column;
    gap: 250px;
  }
}

.how-to-imagewrapper {
  display: flex;
  justify-content: center;
  margin: var.$spacing-40 0px;
  img {
    position: absolute;
    width: 80vw;
  }
}

.how-to-infobox {
  background-color: var.$color-beige;
  border-radius: 0px 20px 20px 20px;
  padding: var.$spacing-40;
  h3 {
    margin-bottom: var.$spacing-20;
  }
  p {
    margin: 0px;
  }
}

.app-download {
  color: var.$color-white;
  margin: -10px 0px;
  display: flex;
  flex-direction: column;

  .app-download-text-wrapper {
    background-color: var.$color-hot-pink;
    padding: var.$spacing-40 var.$spacing-10;
  }
  .app-picture {
    width: 200px;
    align-self: flex-end;
    position: absolute;
    margin-top: 180px;
  }
  .app-download-badge-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: var.$spacing-40;
    img {
      width: 150px;
    }
  }
}

.kitchen-categories {
  margin-top: var.$spacing-80;
  h2 {
    margin-bottom: var.$spacing-40;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    gap: var.$spacing-10;
    a {
      display: block;
      background-color: var.$color-beige;
      color: var.$color-hot-pink;
      text-decoration: none;
      padding: var.$spacing-10;
      &:hover {
        background-color: var.$color-hot-pink-50;
      }
    }
  }
}
