body {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #5f9ea0;
  font-size: 28px;
  margin-top: 50px;
}

p {
  color: #777777;
}

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
