body {
  margin: 0;
  box-sizing: border-box;
}

.parent {
  background-color: lightgrey;
  width: 500px;
  height: 500px;

  opacity: 0.5;
  transition: opacity 1s ease-in-out;
  position: relative;
}

.child {
  display: grid;
  align-items: center;
  color: white;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: olive;
  border: 10px solid transparent;

  position: absolute;

  transition: all 1s ease;
}

.parent:hover {
  opacity: 1;
}

.child:hover {
  transform: translateY(0, 0);
}
