@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #c3d2e6;
  font-family: "Raleway", sans-serif;
  width: 60%;
  margin: auto;
  margin-top: 200px;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}

header {
  position: absolute;
  top: 30px;
  align-content: center;
}

.headerbild {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(/Users/reginaherke/Documents/GitHub/dc-web-developer/103-css-core-concept/_links/sam-dan-truong-ju2NgSoR6pA-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #033859;
}

main {
  background-color: #466c8c;
  border: 5px solid #033859;
  text-align: center;
  padding: 0px 30px 50px 30px;
  color: white;
}

.info {
  font-size: 20px;
  color: #033859;
  margin: 10px 0px;
  font-weight: 500;
}

h1 {
  font-weight: 300;
  margin: 0px;
  margin-top: 50px;
}

.year {
  font-weight: 800;
  color: #d94814;
}

.first {
  text-align: left;
  background-color: #033859;
  border-radius: 20px;
  padding: 30px;
  margin: 50px 0px;
}

h2 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
}

ul {
  margin-left: -15px;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

.punkt {
  color: #d94814;
  font-weight: 700;
}

li.punkt::before {
  content: "";
  border-left: 3px solid #d94814;
  padding-right: 10px;
  margin-left: -15px;
}

.linkimtext {
  color: #033859;
  font-weight: 700;
  background-color: #ffffff;
  padding: 0px 10px;
  text-decoration: none;
}

.linkimtext:hover {
  color: #ffffff;
  background-color: #d94814;
}

.klickmich {
  background-color: #033859;
  border: none;
  color: #ffffff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.klickmich:hover {
  background-color: #d94814;
}

footer a {
  font-weight: 700;
  color: #d94814;
  text-decoration: none;
}

footer a:hover {
  color: #033859;
}

.kurse {
  margin-top: 50px;
}

.kurse li {
  background-color: #d94814;
  text-align: center;
  padding: 35px 15px;
  margin: 20px 30%;
  border-radius: 10px;
  color: #ffffff;
  line-height: 30px;
}

.kurse li:hover {
  box-shadow: #033859 1.95px 1.95px 8px;
}

#wochenende {
  background-color: #f27f3d;
}
