@media screen and (max-width: 576px) {
  #logo {
    width: 50%;
  }

  .header-section {
    width: auto;
  }

  .facts {
    flex-direction: column;
  }

  .testimonials {
    flex-direction: column;
    align-items: center;
  }

  .testimonial {
    width: auto;
  }

  .testimonial-block .testimonials {
    min-width: auto;
  }

  .testimonial:nth-child(even) {
    top: auto;
  }

  .cta {
    justify-content: center;
    text-align: center;
  }
}
