$color-primary: #13678a;
$color-secondary: #9aeba3;
$color-sifficulty: #ff4858;
$color-font-grey: #3d3d3d;

$spacing-small: 20px;
$spacing-medium: 40px;
$spacing-large: 80px;

$colors-difficulties: (
  "easy": green,
  "medium": orange,
  "hard": red,
);
