header {
  border-bottom: 5px solid #00003f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

header img {
  width: 300px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
nav a {
  color: #00003f;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 3px solid goldenrod;
}
